[user]
	name = M.Emre Nefesli
	email = emrenefesli@outlook.com
[core]
	editor = vim
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
